<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <!--
     <bean id="mbServer" class="org.springframework.jmx.export.MBeanExporter">
         <property name="autodetectModeName">
             <value>AUTODETECT_ALL</value>
         </property>
     </bean>
     <bean name="localhost:name=statusBean" class="me.rowkey.trainings.jmx.Status">

     </bean>
     -->

    <!--对于上述普通的Java类MyJavaObject，可以通过定制接口和方法列表，来暴露MBean属性或方法。例如，一个方法列表，可以在进行配置的时候指定-->
    <!--<bean id="assembler" class="org.springframework.jmx.export.assembler.MethodNameBasedMBeanInfoAssembler">
      <property name="managedMethods"  value="getName" />
    </bean> 
    
    <bean id="assembler" class="org.springframework.jmx.export.assembler.InterfaceBasedMBeanInfoAssembler">
      <property name="managedInterfaces">
          <list>
              <value>org.shirdrn.spring.jmx.selected.interfaces.SelectedMethodsInterface</value>
          </list>
      </property>
    </bean>
      
    <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
      <property name="beans">
          <map>
              <entry key="localhost:name=statusBean"
                       value-ref="statusBean" />
          </map>
      </property>
      <property name="assembler" ref="assembler" />
   </bean>-->

    <bean id="statusBean" class="me.rowkey.trainings.jmx.Status"/>

    <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter"
          lazy-init="false">
        <property name="beans">
            <map>
                <entry key="localhost:name=statusBean"
                       value-ref="statusBean"/>
            </map>
        </property>
    </bean>

    <bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
        <property name="port" value="1099"/>
    </bean>

    <bean id="serverConnector"
          class="org.springframework.jmx.support.ConnectorServerFactoryBean" depends-on="registry">
        <property name="objectName" value="connector:name=webapprmi"/>
        <property name="serviceUrl"
                  value="service:jmx:rmi:///jndi/rmi://localhost:1099/app"/>
    </bean>

</beans>
