<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <!-- 每个工程各不相同 -->
    <bean id="statusBean" class="com.github.superhj1987.trainings.jmx.Status"/>

    <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter"
          lazy-init="false">
        <property name="beans">
            <map>
                <entry key="localhost:name=statusBean"
                       value-ref="statusBean" />
            </map>
        </property>
    </bean>

    <bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
        <property name="port" value="1099" />
    </bean>

    <bean id="serverConnector"
          class="org.springframework.jmx.support.ConnectorServerFactoryBean" depends-on="registry">
        <property name="objectName" value="connector:name=webapprmi" />
        <property name="serviceUrl"
                  value="service:jmx:rmi:///jndi/rmi://localhost:1099/app" />
    </bean>

</beans>